body {
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

p {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 100px;
    line-height: 0.75em;
    letter-spacing: -1px;
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

strong {
    font-weight: normal;
    text-shadow: 0px 2px 2px #555;
}

.red strong {
    color: #c66;
}

.green strong {
    color: #696;
}

.blue strong {
    color: #69c;
}

.yellow strong {
    color: #b92;
}

.orange strong {
    color: #c73;
}

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.step {
    position: relative;
    width: 900px;
    height: 800px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    }

.slide p {
    display: block;
    margin-top: 200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.slide p strong {
    white-space: nowrap;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.notes {
    display: none;
}

.subtext {
    width: 33%;
    font-size: 38px;
    font-family: 'Sorts Mill Goudy', serif;
    line-height: 42px;
    transition-delay: 3s;
    position:absolute;
    right: -450px;
    bottom: -100px;
    padding: 30px 25px 20px;
    margin: 1em auto 80px;
    border: 1px solid #aaa;
    text-align: center;
    color: #999;
    font-style: italic;
    background: #eee;
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius: 240px 140px;
    -webkit-border-top-right-radius: 240px 140px;
    -webkit-border-bottom-right-radius: 240px 140px;
    -webkit-border-bottom-left-radius: 240px 140px;
    -moz-border-radius: 240px / 140px;
    border-radius: 240px / 140px;
    box-shadow: 5px 5px 3px #999;
}

/* creates the larger circle */
.subtext:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    right: 100px;
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    background: #eee;
    /* css3 */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /* reduce the damage in FF3.0 */
    display: block;
    box-shadow: 5px 5px 3px #999;
}

/* creates the smaller circle */
.subtext:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -60px;
    right: 50px;
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    background: #eee;
    /* css3 */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /* reduce the damage in FF3.0 */
    display: block;
    box-shadow: 2px 2px 3px #999;
}


.future .subtext {
    visibility: hidden;
}

.present .subtext {
    visibility: visible;
}

.l1 > p {
    margin-top: 350px;
}

.l2 > p {
    margin-top: 300px;
}

.l3 > p {
    margin-top: 250px;
}

.l4 > p, .l4 > img {
    margin-top: 200px;
}

.l5 > p {
    margin-top: 150px;
}

.l6 > p {
    margin-top: 100px;
}

.l7 > p {
    margin-top: 50px;
}

.l8 > p, .l8 > img {
    margin-top: 0px;
}
